<footer  class="footer">
  <div class="personal-info">

    <div class="row text-muted">

      <div class="col-8 col-md-10">
        <p>
            Milton Quirino
            <a href="mailto:miltonquirino.br@gmail.com">
              <span >miltonquirino.br@gmail.com</span>
            </a>
        </p>
        
      </div>

      <div class="col-2 col-md-1 icon-footer ">

        <a  href="https://github.com/MiltonQuirino" target="_blank">
          <i class="fab fa-github"></i>

        </a>

      </div>
      <div class="col-2 col-md-1 icon-footer ">

        <a _ngcontent-c2="" href="https://www.linkedin.com/in/milton-quirino-148a6030/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>

    </div>
  </div>
</footer>