<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Arquitetura</h1>
  <p class="lead">Informações sobre padrões de projetos e tecnologias utiliadas no projeto</p>

</div>

<h1></h1>

<h2 class="display-6">Front-end</h2>

<div class="row">

  <div class="col-8">
    <li>Angular 6</li>
    <li>SASS</li>
    <li>HTML5</li>
  </div>
  <div class="col-4">
    <i class="fab fa-angular fa-3x"></i>

  </div>


</div>

<hr>

<h2 class="display-6">Back-end</h2>

<div class="row">
  <div class="col-8">
    <li>.Net Core</li>
    <li>Entity Framework Core</li>
    <li>RESTful Api</li>
  </div>

  <div class="col-4">
    <i class="fab fa-connectdevelop fa-3x"></i>
  </div>

</div>

<hr>

<h2 class="display-6">Patterns</h2>

<div class="row">

  <div class="col-8">

    <li>Mobile first</li>
    <li>DDD</li>
    <li>DI</li>
    <li>SOLID</li>
    <li>Repository</li>
  </div>

  <div class="col-4">
    <i class="fas fa-th fa-3x"></i>
  </div>
</div>