<div class="">


  <!-- <div class="row" *ngFor="let airplane of airplanes">

    <div class="col-md-3">
      <p>{{airplane.model}}</p>
    </div>

    <div class="col-md-1">
      <p>{{airplane.capacity}}</p>
    </div>

    <div class="col-md-1">
      <p>{{airplane.id}}</p>
    </div>

    <div class="col-md-2">
      <p>{{airplane.createdAt}}</p>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-1"></div>


    <button>Editar</button>
    <button>Excluir</button>

  </div> -->
  <a [routerLink]="'/Airplane/create'">

    <h3>Novo cadastro</h3>
    <span class="icon-arrow"></span> Novo 
  </a>
  

</div>


<table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
        <th style="width: 20%">
            <mfDefaultSorter by="id">Codigo</mfDefaultSorter>
        </th>
        <th style="width: 50%">
            <mfDefaultSorter by="model">Modelo</mfDefaultSorter>
        </th>
        <th style="width: 10%">
            <mfDefaultSorter by="capacity">Data</mfDefaultSorter>
        </th>
        <th style="width: 20%">
            <mfDefaultSorter by="createdAt">Capacidade</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let airplane of mf.data">
        <td>{{airplane.id}}</td>
        <td>{{airplane.model}}</td>
        <td class="text-right">{{airplane.createdAt}}</td>
        <td>{{airplane.capacity}}</td>
        <td><button>Editar</button></td>
        <td><button (click)="delete(airplane)">Excluir</button></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
  </table>
