<div class="table-responsive center">

    <h1 class="display-4 title">Lista de Aeronaves</h1>
    
    <table class="table table-striped table-hover table-list"  [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
            <tr>
                <th class="table-mobile-col">
                    <mfDefaultSorter by="id">Codigo</mfDefaultSorter>
                </th>
                <th >
                    <mfDefaultSorter by="model">Modelo</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="capacity">Data</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="createdAt">Capacidade</mfDefaultSorter>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let airplane of mf.data">
                <td class="table-mobile-col">{{airplane.id}}</td>
                <td>{{airplane.model}}</td>
                <td class="text-right">{{airplane.createdAt| date:'shortDate'}}</td>
                <td>{{airplane.capacity}}</td>
                <td>
                        <img [routerLink]="['/airplane/edit', airplane.id]" alt="Editar" src="assets/icon/edit.png">
                </td>
                <td>
                        <img [routerLink]="['/airplane/delete', airplane.id]" alt="Excluir" src="assets/icon/rubbish-bin.png">
                </td>
                   
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="">

        <a [routerLink]="'/airplane/create'">

            <span class="icon-arrow"></span> <button class="btn btn-success">Cadastrar</button>
        </a>


    </div>

</div>